p Вы успешно активировали аккаунт: #{@user.email}.
p Ваши данные:
p Логин: #{@user.email}
p
  | Эти данные нужны для дальнейшей работы, их лучше:
  b запомнить
p или записать отдельно
p или не стирать это письмо
p  Следующим шагом будет добавление объекта собственности (например, квартиры), сделать это Вы можете по адресу: #{link_to @profile_url, @profile_url}
