p Вы успешно активировали аккаунт: #{@user.email}.
p Теперь Вы можете войти на портал с данным e-mail и указанным при регистрации паролем по адресу: #{@url}
p Следующим шагом будет добавление объекта собственности (например, квартиры), сделать это Вы можете по адресу: #{@profile_url}
