'Здравствуйте, #{@user.email} Вы зарегистрировались на портале ЖКХ33.РФ.
'Для начала работы (активации учетной записи) проследуйте, пожалуйста, по ссылке: #{@url}
'Если данное письмо попало по ошибке, пожалуйста, проигнорируйте его.
