p Здравствуйте, #{@user.email}
p На сайте сообщества СистемаРосДом.ру вы запустили регистрацию своего аккаунта.
p Для начала работы (активации учетной записи), проследуйте, пожалуйста,
p по ссылке: #{link_to @url, @url}
p Данная ссылка будет активна 24 часа.
p
  b Если данное письмо попало по ошибке, пожалуйста, проигнорируйте его.