/*
 *= require bootstrap_and_overrides
 *= require jquery.kladr.min
 *= require nested_fields
 *= require jquery.colorbox-example1
 *= require print
 *= require bootstrap-datepicker3
 *= require bootstrap-datetimepicker
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,cyrillic);
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  font-url('glyphicons-halflings-regular.woff') format('woff'),
  font-url('glyphicons-halflings-regular.ttf') format('truetype'),
  font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  font-family: 'Open Sans';
}

.centered {
  text-align: center;
}

.width100 {
  width: 100%;
}

.display_none {
  display:none;
}

.date-inputs {
  margin-left: -15px;
  margin-bottom: 15px;
  .txt {
    display: inline-block;
  }

  label {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
  }

  .form-group {
    margin: 0;
  }
}

.no_side_padding{
  padding-right: 0 !important;
}

.navbar-collapse.collapse {
  display: block!important;
}

label.green_style{
  cursor: pointer;
}

.new_voting_green_checkbox{
  margin: 0 0 0 25px !important;
}

.vertical-align-middle{
  vertical-align: middle !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.align_right{
  float: right;
}

.align_left{
  float: left;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.voting-title {
  span {
    display: inline-block;
  }
  .nmb {
    width: 50px;
  }
  .ttl {
    margin-right: 10px;
  }
  .period {
    width: 110px;
    font-size: 80%;
  }

  .print {
    float: right;
    cursor: pointer;
  }
}

#user_buildings .links a {
  margin: 0 0 0 15px;
}

.remove_user_building{
  margin: 10px;
}

#preview_modal .modal-dialog{
  width: 90% !important;
}
.btn-group-wrap {
  text-align: center;
}

.right_margin_10{
  margin-right: 10px !important;
}

.right_margin_5{
  margin-right: 5px !important;
}

.no-margin{
  margin: 0 !important;
}


.width-80{
  width: 80%;
}

.width-100{
  width: 100%;
}

.width-20{
  width: 20%;
}

.overflow-hidden{
  overflow: hidden;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.size-16{
  font-size: 16px;
}


.bottom_margin_5{
  margin-bottom: 5px !important;
}

.sign_in_color{
  color: #3071a9;
}

.sign_in_hr{
  height:3px;
  border:none;
  color:#3071a9;
  background-color:#3071a9;
  margin-top: 10px
}
.sign_up_color{
  color: #5cb85c;
}

.sign_up_hr{
  height:3px;
  border:none;
  color:#5cb85c;
  background-color:#5cb85c;
  margin-top: 10px
}

.apartment_btn .active{
  background: transparent !important;
  color: #000 !important;
}

.a4 {
  border: 0px solid #000;
  width:210mm;
  // height:297mm;
  padding: 25px 5px 15px 5px;
  margin: 25px auto;
}

.menu-glyph-lg {
  font-size: 20px;
  line-height: 1.33;
}

.menu-link-padding{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.col-ad{
  width: 300px;
  min-width: 300px;
}