/*
 *= require bootstrap_and_overrides
 *= require jquery.kladr.min
 *= require nested_fields
 *= require jquery.colorbox-example1
 *= require print
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,cyrillic);
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  font-url('glyphicons-halflings-regular.woff') format('woff'),
  font-url('glyphicons-halflings-regular.ttf') format('truetype'),
  font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  font-family: 'Open Sans';
}

.centered {
  text-align: center;
}

.width100 {
  width: 100%;
}

.display_none {
  display:none;
}

.date-inputs {
  margin-left: -15px;
  .txt {
    margin-left: 15px;
    display: inline-block;
  }

  label {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
  }

  .form-group {
    margin: 0;
  }
}

.align_right{
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.voting-title {
  span {
    display: inline-block;
  }
  .nmb {
    width: 40px;
  }
  .ttl {
    margin-right: 10px;
  }
  .period {
    width: 250px;
  }

  .print {
    float: right;
    cursor: pointer;
  }
}

.btn-group-wrap {
  text-align: center;
}


.a4 {
  border: 0px solid #000;
  width:210mm;
  // height:297mm;
  padding: 25px 5px 15px 5px;
  margin: 25px auto;
}

.menu-glyph-lg {
  font-size: 20px;
  line-height: 1.33;
}

.menu-link-padding{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.col-ad{
  width: 300px;
  min-width: 300px;
}