/*
 *= require bootstrap_and_overrides
 *= require jquery.kladr.min
 *= require nested_fields
 *= require jquery.colorbox-example1
 *= require print
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,cyrillic);

body {
  font-family: 'Open Sans';
}

.centered {
  text-align: center;
}

.width100 {
  width: 100%;
}

.form-control {

}

.date-inputs {
  margin-left: -15px;
  .txt {
    margin-left: 15px;
    display: inline-block;
  }

  label {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
  }

  .form-group {
    margin: 0;
  }
}


.voting-title {
  span {
    display: inline-block;
  }
  .nmb {
    width: 40px;
  }
  .ttl {
    margin-right: 10px;
  }
  .period {
    width: 250px;
  }

  .print {
    float: right;
    cursor: pointer;
  }
}


.a4 {
  border: 0px solid #000;
  width:210mm;
  // height:297mm;
  padding: 25px 5px 15px 5px;
  margin: 25px auto;
}
